html,body{
    background-color: darkorange;
}
h1{
    font-style: inherit;
    font-size: 1em;
    background-color: tomato;
}
h2{
    font-size: 5em;
    background-color: olive;
}
br{
    background-color: DodgerBlue
}