html,body{
    background-color: orchid;
}
h1{
    font-style: italic;
    font-size: 1em;
    background-color: tomato;
}
h2{
    font-size: 5em;
    background-color: olive;
}
br{
    background-color: rebeccapurple;
}