<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}"/>
</head>
<body>
<div class="container">
    <div class="container-inner">
        <div class="area" >
            <form  th:action="@{/}" method="post">
                <textarea style="resize:none" rows="1" cols="22" th:id="inputWord" name="inputWord" ></textarea>
                <textarea style="resize:none" rows="1" cols="22" th:id="inputTranslation" name="inputTranslation"></textarea>
                <textarea style="resize:none" rows="1" cols="22" th:id="language" name="language" value="English" ></textarea>
                <input   type="submit" th:id="addWord" value="add" />
            </form>
        </div>
        <div class="area">
            <form th:action="@{/delete}" method="post">
                <textarea style="resize:none" rows="1" cols="22" th:id="inputWordDelete" name="inputWordDelete" ></textarea>
                <textarea style="resize:none" rows="1" cols="22" th:id="inputTranslationDelete" name="inputTranslationDelete"></textarea>
                <textarea style="resize:none" rows="1" cols="22" th:id="languageDelete" name="languageDelete" value="English" ></textarea>
                <input   type="submit" th:id="deleteWord" value="delete" />
            </form>
        </div>
    </div>
</div>
<h5>version 1.4.2</h5>
<!--
/* Major - incompatible API changes, MINOR, functionality backwards-compatible, PATCH, bug fixes*/
-->
<table class="array-element">
    <tr class="headline">
        <th th:text="word"></th>
        <th th:text="translation"></th>
        <th style="text-align: left" th:text="language"></th>
    </tr>
    <tr  th:each="vocabulary : ${vocabulary}">
        <td th:text="${vocabulary.word + '    '}">word</td>
        <td th:text="${vocabulary.translation + '    '}">translation</td>
        <td style="text-align:left" th:text="${vocabulary.language + '    '}">language</td>
    </tr>
</table>
</body>
</html>